## Listed files are not uploaded by 'gcloud builds submit and 'gcloud app deploy' - using the same file for each to avoid environment differences introducing error => all files needed for the build or deployment are included

# dist directories are not ignored even though they are rebuilt in the build steps - if you ignore them here then the newly built dist directories would be ignored when you deploy


## ignore from root...
.git/
.nyc_output/
.vscode/
coverage/
node_modules/
.gitignore
debug.log
efficient-performance-web1.code-workspace
README.md
